<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/"><h3>return Home</h3></a>
  <%= info.userName %> <br>
  <%= info.birthDayYear %> <br>
  <%= info.favColor %> <br>
  <%= info.favNum %>  <br>
</body>
</html>