<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    span {
      color: royalblue;
      font-weight: 600;
      font-size: 1.3rem;
    }
  </style>
</head>
<body>
  <h1><%= title %></h1>
  <div>
    <a href="/"><h3>return Home</h3></a>
  </div>
  <hr>
  <div>
    Wellcome <span><%= userInfo.PostId %></span><br>
    Your PW: <span><%= userInfo.PostPw %></span>
  </div>
</body>
</html>