* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  height: 3rem;
}
#addBtn {
  color: wheat;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  background-color: pink;
  position: flex;
  justify-item: center;
  align-items: center;
}
